
{% extends "layout.njk" %}

{% block headtitle %}{{ lang | trans("Dashboard") }} - {{ lang | trans("Normal") }}{% endblock %}

{% block headjs %}
{{ super() }}
<script src="{{ '/assets/js/widgets/device-chart.js' | appendStamp }}"></script>
{% endblock %}

{% block innercontent %}
<div class="ibox-content m-b-sm border-bottom">
    <div class="row">
        <div class="col-sm-4">
            <div class="form-group">
                <label class="control-label" for="daterangePicker">{{ lang | trans("Datetime Range") }}</label>
                <input type="text" id="daterangePicker" value="" class="form-control">
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group">
                <label class="control-label" for="chosen-device">{{ lang | trans("Device") }}</label>
                <select data-placeholder="{{ lang | trans("Choose a Device") }}..." class="chosen-select" id="chosen-device">
                	<option value></option>
                	{% for dev in devices %}
                    <option value="{{ dev.id }}">{{ dev.name }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="col-sm-5">
        	<div class="form-group">
                <label class="control-label" for="chosen-properties">{{ lang | trans("Properties") }}</label>
                <select data-placeholder="{{ lang | trans("Choose Properties") }}" class="chosen-select" multiple id="chosen-properties">
                	<option selected value="Tem1">{{ lang | trans("Tem1") }}</option>
                	<option value="Tem2">{{ lang | trans("Tem2") }}</option>
                	<option value="Tem3">{{ lang | trans("Tem3") }}</option>
                	<option value="Tem4">{{ lang | trans("Tem4") }}</option>
                	<option selected value="Hum1">{{ lang | trans("Hum1") }}</option>
                	<option value="Hum2">{{ lang | trans("Hum2") }}</option>
                	<option value="Hum3">{{ lang | trans("Hum3") }}</option>
                	<option value="Hum4">{{ lang | trans("Hum4") }}</option>
                	<option selected value="Vol1">{{ lang | trans("Vol1") }}</option>
                	<option value="Vol2">{{ lang | trans("Vol2") }}</option>
                	<option value="Vol3">{{ lang | trans("Vol3") }}</option>
                	<option value="Vol4">{{ lang | trans("Vol4") }}</option>
                	<option selected value="Weight">{{ lang | trans("Weight") }}</option>
                </select>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <line-chart-panel title="{{ lang | trans("Line Chart") }}" export log></line-chart-panel>
    </div>
</div>
{% endblock %}

{% block bodyjs %}
<script src="{{ '/assets/js/menu/dashboard/normal.js' | appendStamp }}"></script>
{% endblock %}
