
{% extends "layout.njk" %}

{% block headtitle %}Dashboard{% endblock %}

{% block headcss %}
<link href="/assets/css/plugins/chosen/bootstrap-chosen.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
{% endblock %}

{% block headjs %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.19.4/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-daterangepicker/3.0.5/daterangepicker.min.js"></script>
{% endblock %}

{% block innercontent %}
<div class="ibox-content m-b-sm border-bottom">
    <div class="row">
        <div class="col-sm-4">
            <div class="form-group">
                <label class="control-label" for="daterangePicker">Datetime Range</label>
                <input type="text" id="daterangePicker" value="" class="form-control">
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group">
                <label class="control-label" for="chosen-devices">Devices</label>
                <select data-placeholder="Choose a Device..." class="chosen-select" id="chosen-devices">
                	<option value></option>
                	{% for dev in devices %}
                    <option value="{{ dev }}">{{ dev }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="ibox">
            <div class="ibox-content">
        	</div>
        </div>
    </div>
</div>
{% endblock %}

{% block bodyjs %}
<script src="/assets/js/menu/dashboard.js"></script>
{% endblock %}
